
BASE_PORT=3000

# Backend
AUTHORIZATION=
CHAT_URL=
CHAT_VISION_URL=
CHAT_DOC_EMBED_URL=
QUEUE_STATUS_URL=
CHAT_DOC_LC_URL=
CHAT_DOC_RAG_URL=

GPTS_FILE_PATH=../static/files/app/GPTs.json
LLMS_FILE_PATH=../static/files/app/chatbot.json

# S3
AWS_REGION=ap-southeast-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_BUCKET_NAME=
AWS_ACL=public-read

# Dockerhub
DOCKER_HUB_URL=
